<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <songBooks>
        <songs>
            <currentKey>A</currentKey>
            <id>60</id>
            <originalKey>A</originalKey>
            <songParts>
                <id>975dc3cc-6ea8-4d94-96a9-5efb745a507a</id>
                <lines>
                    <lineParts>
                        <chord>F#m</chord>
                        <text>Kö</text>
                    </lineParts>
                    <lineParts>
                        <chord>E/G#</chord>
                        <text>nig</text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>lich </text>
                    </lineParts>
                    <lineParts>
                        <chord>D</chord>
                        <text>strahlt </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>dein </text>
                    </lineParts>
                    <lineParts>
                        <chord>F#m</chord>
                        <text>Licht.</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Du bist </text>
                    </lineParts>
                    <lineParts>
                        <chord>D</chord>
                        <text>ewig</text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>lich</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Niemand kommt dir </text>
                    </lineParts>
                    <lineParts>
                        <chord>E/G#</chord>
                        <text>gleich</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text></text>
                    </lineParts>
                </lines>
                <songPartType>VERS</songPartType>
            </songParts>
            <songParts>
                <id>924a3096-77c3-487a-b6a5-6beffa4dd8c8</id>
                <lines>
                    <lineParts>
                        <text>Sanftmütig führst Du mich</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Hin zu deinem Licht</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Ich darf bei dir sein</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text></text>
                    </lineParts>
                </lines>
                <songPartType>VERS</songPartType>
            </songParts>
            <songParts>
                <id>c197104c-d5e6-4f1e-b146-534a590bc23d</id>
                <lines>
                    <lineParts>
                        <text>Sei </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>Du der </text>
                    </lineParts>
                    <lineParts>
                        <chord>E/G#</chord>
                        <text>Mittelpunkt in meinem </text>
                    </lineParts>
                    <lineParts>
                        <chord>F#m</chord>
                        <text>Leben</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Der </text>
                    </lineParts>
                    <lineParts>
                        <chord>D</chord>
                        <chord>D</chord>
                        <text>Mittelpunkt in meinem </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>Herzen</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <chord>E/G#</chord>
                        <text>Ich gehöre </text>
                    </lineParts>
                    <lineParts>
                        <chord>F#m</chord>
                        <text>dir</text>
                    </lineParts>
                    <lineParts>
                        <chord>D</chord>
                        <text></text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text></text>
                    </lineParts>
                </lines>
                <songPartType>REFRAIN</songPartType>
            </songParts>
            <songParts>
                <id>4e0cc508-a062-4d0a-890e-570dca87046b</id>
                <lines>
                    <lineParts>
                        <chord>D</chord>
                        <text>Ich will dir </text>
                    </lineParts>
                    <lineParts>
                        <chord>F#m</chord>
                        <text>nah sein, </text>
                    </lineParts>
                    <lineParts>
                        <chord>E/G#</chord>
                        <text>ich will dir </text>
                    </lineParts>
                    <lineParts>
                        <chord>D</chord>
                        <text>folge</text>
                    </lineParts>
                    <lineParts>
                        <chord></chord>
                        <text>n</text>
                    </lineParts>
                    <lineParts>
                        <chord>A/C#</chord>
                        <text></text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <chord>D</chord>
                        <text>Mein ganzes </text>
                    </lineParts>
                    <lineParts>
                        <chord>F#m</chord>
                        <text>leben in </text>
                    </lineParts>
                    <lineParts>
                        <chord>E/G#</chord>
                        <text>dir verlieren</text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text></text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text></text>
                    </lineParts>
                </lines>
                <songPartType>ZWISCHENSPIEL</songPartType>
            </songParts>
            <title>MITTELPUNKT</title>
        </songs>
    </songBooks>
</configuration>
