<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <songBooks>
        <songs>
            <currentKey>D</currentKey>
            <id>3</id>
            <originalKey>A</originalKey>
            <songParts>
                <id>a887f1f0-fcb2-4bf2-9e7f-08e8387aded6</id>
                <lines>
                    <lineParts>
                        <chord>D</chord>
                        <text>My comfort, </text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <chord>Hm</chord>
                        <text>Tower of </text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <chord></chord>
                        <text>Let every </text>
                    </lineParts>
                    <lineParts>
                        <chord>D/F#</chord>
                        <text>breath, </text>
                    </lineParts>
                    <lineParts>
                        <chord>G</chord>
                        <text>all that I </text>
                    </lineParts>
                    <lineParts>
                        <chord>D/A</chord>
                        <text>am.</text>
                    </lineParts>
                </lines>
                <songPartType>VERS</songPartType>
            </songParts>
            <title>MY JESUS, MY SAVIOUR</title>
        </songs>
    </songBooks>
</configuration>
