<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <songBooks>
        <songs>
            <currentKey>A</currentKey>
            <id>13</id>
            <originalKey>A</originalKey>
            <songParts>
                <id>8526fb2d-4a71-47ad-839d-fe6bfc9ad9b1</id>
                <lines>
                    <lineParts>
                        <chord>G</chord>
                        <text>Zwischen Himmel und Erde ist ein Riß</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>und ein Kampf zwischen Licht und Finsternis </text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>In dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>Cm7</chord>
                        <text>Zwischenzeit, in dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>G</chord>
                        <text>Zwischenzeit </text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Zwischen Himmel und Erde sind wir noch </text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Und das, was wir nicht wollen, tun wir doch</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>In dieser Zwischenzeit, in dieser Zwischenzeit</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text> </text>
                    </lineParts>
                </lines>
                <songPartType>VERS</songPartType>
            </songParts>
            <songParts>
                <id>9cef2e79-3dad-4ed7-bdc0-30d5e6d8d326</id>
                <lines>
                    <lineParts>
                        <text>Mitten in dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>D</chord>
                        <text>Welt,</text>
                    </lineParts>
                    <lineParts>
                        <text> doch nicht von dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>F#m</chord>
                        <text>Welt</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Wir gehören zu </text>
                    </lineParts>
                    <lineParts>
                        <chord>D</chord>
                        <text>dir und doch sind wir noch </text>
                    </lineParts>
                    <lineParts>
                        <chord>E</chord>
                        <text>hier</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text></text>
                    </lineParts>
                </lines>
                <songPartType>ZWISCHENSPIEL</songPartType>
            </songParts>
            <songParts>
                <id>67f7233f-f471-4c0b-8faa-46c1d1994918</id>
                <lines>
                    <lineParts>
                        <text>Zwischen Himmel und </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>Erde hängst du dort,</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Ganz allein und </text>
                    </lineParts>
                    <lineParts>
                        <chord>D</chord>
                        <text>verlassen von Mensch und Gott</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>zwischen Himmel und </text>
                    </lineParts>
                    <lineParts>
                        <chord>Hm7</chord>
                        <text>Erde ausge</text>
                    </lineParts>
                    <lineParts>
                        <chord>E</chord>
                        <text>streckt,</text>
                    </lineParts>
                    <lineParts>
                        <text> dort am </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>Kreuz</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text></text>
                    </lineParts>
                </lines>
                <songPartType>REFRAIN</songPartType>
            </songParts>
            <songParts>
                <id>c5257c60-1ad1-4b8d-9648-2285ae54e310</id>
                <lines>
                    <lineParts>
                        <text>Zwischen Himmel und </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>Erde hängst du dort</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Wo die Balken sich </text>
                    </lineParts>
                    <lineParts>
                        <chord>D</chord>
                        <text>kreuzen, ist der Ort</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Wo sich Himmel und </text>
                    </lineParts>
                    <lineParts>
                        <chord>Hm7</chord>
                        <text>Erde trifft in </text>
                    </lineParts>
                    <lineParts>
                        <chord>E</chord>
                        <text>dir</text>
                    </lineParts>
                    <lineParts>
                        <text>, dort am </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>Kreuz.</text>
                    </lineParts>
                    <lineParts>
                        <text> </text>
                    </lineParts>
                </lines>
                <songPartType>REFRAIN</songPartType>
            </songParts>
            <songParts>
                <id>a55f30fa-6f22-4c7d-a441-3b5e5e8209d0</id>
                <lines>
                    <lineParts>
                        <chord>A</chord>
                        <text>Zwischen Himmel und Erde leiden wir,</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>an Zerissenheit auf dem Weg zu dir</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>In dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>Dm7</chord>
                        <text>Zwischenzeit, in dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>Zwischenzeit</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Zwischen Himmel und Erde ist ein Steg,</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>und du selbst bist die Brücke und der Weg</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>In dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>Dm7</chord>
                        <text>Zwischenzeit, in dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>Zwischenzeit</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text></text>
                    </lineParts>
                </lines>
                <songPartType>VERS</songPartType>
            </songParts>
            <songParts>
                <id>0da3c6af-0f31-4df0-9d38-5de5bb72c9e9</id>
                <lines>
                    <lineParts>
                        <chord>A</chord>
                        <text>Zwischen Himmel und Erde stehen wir,</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>und wir treten in diesen Riß mit dir</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>In dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>Dm7</chord>
                        <text>Zwischenzeit, in dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>Zwischenzeit</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Du machst Himmel und Erde einmal neu,</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>Doch dein Reich ist schon da und du bist treu</text>
                    </lineParts>
                </lines>
                <lines>
                    <lineParts>
                        <text>In dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>Dm7</chord>
                        <text>Zwischenzeit, in dieser </text>
                    </lineParts>
                    <lineParts>
                        <chord>A</chord>
                        <text>Zwischenzeit</text>
                    </lineParts>
                </lines>
                <songPartType>VERS</songPartType>
            </songParts>
            <title>ZWISCHEN HIMMEL UND ERDE</title>
        </songs>
    </songBooks>
</configuration>
